#main-banner{
    padding: 60px 0 80px 0;
    /* color: rgb(240, 162, 182); */
    background-color: rgb(255, 255, 255);
    /* background-image: url("https://png.pngtree.com/background/20211215/original/pngtree-retro-music-notes-background-picture-image_1454090.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    position: relative;
    opacity: 0.7;
}

#main-banner:before{
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 50px;
    width: 160px;
    height: 100%;
    background: url('./favicon.ico');
    background-repeat: no-repeat;
    background-position: center center;
}

#main-banner:after{
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50px;
    width: 160px;
    height: 100%;
    background: url('./favicon.ico');
    background-repeat: no-repeat;
    background-position: center center;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
}

.main-title{
    padding: 0 0 20px 0;
    font-family: Outfit;
    font-weight: 600;
    font-size: 55px;
    letter-spacing: 1.56px;
    line-height: 76px;    
    z-index: 10;
    text-transform: uppercase;
    text-align: center;
}

.main-subtitle{
    font-family: Outfit;
    font-size: 40px;
    letter-spacing: 1.56px;
    line-height: 76px;
    z-index: 10;
    text-align: center;
    text-transform: uppercase;
}

#main-about{
    padding: 50px 0 100px 0;
}

.main-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: rgb(23, 49, 26); */
}

.about-title{
    padding: 0 0 20px 0;
    font-family: Outfit;
    font-size: 40px;
    letter-spacing: 1.56px;
    line-height: 76px;
    text-align: center;
}

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 50px 0;
}

.about-text, .about-text-side{
    font-family: Outfit;
    font-size: 25px;
    letter-spacing: 0.56px;
    line-height: 46px;
    text-align: center;
    padding: 0 10px 50px 10px;
}

.about-text-side{
    text-align: justify;
}

.about-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 50px 0;
}

.about-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.text-img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0 50px 0;
}

.about-subtext{
    max-width: 50%;
    font-family: Outfit;
    font-size: 25px;
    letter-spacing: 0.56px;
    line-height: 36px;
    text-align: justify;
    padding: 0 10px 0 10px;
}

.about-img-big{
    max-width: 800px;
    height: 50%;
}

.about-img{
    max-width: 500px;
    height: 50%;
    padding: 0 20px 0 20px;
}

.about-img-little{
    width: 200px;
    max-height: 400px;
}

@media (max-width: 600px) {
    #main-banner:before{
        background: none;
    }

    #main-banner:after{
        background: none;
    }

    .about-img-big{
        max-width: 400px;
        height: 50%;
        padding: 20px;
    }

    .about-img{
        max-width: 400px;
        height: 50%;
        padding: 20px;
    }

    .about-flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-text-side{
        text-align: center;
    }
    .about-subtext{
        max-width: 100%;
        font-size: 20px;
        padding: 40px 0 40px 0;
        text-align: center;
    }

    .text-img-container{
        padding: 0;
    }
}